<div class="col-xs-12 col-md-12">
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="img/car.png" id='car-1'>
        <div class="caption">
          <h3>Carro 1</h3>
          <p>Direccion: 80 grados.</p>
          <p>Distancia: 10 metros </p>
          <p>Velocidad:  2 km/h</p>
          <p>Nivel de bateria: 90% </p>
          <p>Ronda: 0</p>
          <p>Paquetes recibidos: 20 / 100</p>
          <p><a href="" class="btn btn-primary" role="button">Mas informacion</a></p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="img/car.png" id='car-1'>
        <div class="caption">
          <h3>Carro 2</h3>
          <p>Direccion: 80 grados.</p>
          <p>Distancia: 10 metros </p>
          <p>Velocidad:  2 km/h</p>
          <p>Nivel de bateria: 90% </p>
          <p>Ronda: 0</p>
          <p>Paquetes recibidos: 20 / 100</p>
          <p><a href="" class="btn btn-primary" role="button">Mas informacion</a></p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="img/car.png" id='car-1'>
        <div class="caption">
          <h3>Carro 3</h3>
          <p>Direccion: 80 grados.</p>
          <p>Distancia: 10 metros </p>
          <p>Velocidad:  2 km/h</p>
          <p>Nivel de bateria: 90% </p>
          <p>Ronda: 0</p>
          <p>Paquetes recibidos: 20 / 100</p>
          <p><a href="" class="btn btn-primary" role="button">Mas informacion</a></p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="img/car.png" id='car-1'>
        <div class="caption">
          <h3>Carro 4</h3>
          <p>Direccion: 80 grados.</p>
          <p>Distancia: 10 metros </p>
          <p>Velocidad:  2 km/h</p>
          <p>Nivel de bateria: 90% </p>
          <p>Ronda: 0</p>
          <p>Paquetes recibidos: 20 / 100</p>
          <p><a href="" class="btn btn-primary" role="button">Mas informacion</a></p>
        </div>
      </div>
    </div>
</div>
